* {
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
}

table>td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    min-width: 25px;
    min-height: 25px;
}

#grid {
    scale: 1.8;
    margin-top: 150px;
    margin-right: 200px;
    height: 100%;
}

#truckbuilder {
    margin: 5%;
    /* width: 25%; */
    /* border:1px solid black; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#truckbuilder form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#truckbuilder form .step-bullets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#truckbuilder form .bullet {
    border: 1px solid #2e2e2e;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 5px;
}

#truckbuilder form .bullet.active {
    background-color: rgb(121, 123, 133);
}

#truckbuilder form h2 {
    margin: 0px;
}

#truckbuilder form label {
    margin-top: 25px;
    margin-bottom: 10px;
}

#truckbuilder form button {
    margin: 5px;
    width: 200px;
    height: 33px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#truckbuilder form input {
    width: 190px;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 500px;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

@keyframes run {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}